[submodule "prex"]
	path = prex
	url = https://github.com/AndrewD/prex
[submodule "nuttx"]
	path = nuttx
	url = http://git.code.sf.net/p/nuttx/git
[submodule "atomthreads"]
	path = atomthreads
	url = https://github.com/kelvinlawson/atomthreads.git
[submodule "F4OS"]
	path = F4OS
	url = https://github.com/prattmic/F4OS.git
[submodule "bitthunder"]
	path = bitthunder
	url = https://github.com/jameswalmsley/bitthunder.git
[submodule "rust-rtos"]
	path = rust-rtos
	url = https://github.com/alexchandel/rust-rtos.git
[submodule "freertos"]
	path = freertos
	url = https://github.com/cjlano/freertos.git
[submodule "ChibiOS-RT"]
	path = ChibiOS-RT
	url = https://github.com/abhishek-kakkar/ChibiOS-RT.git
[submodule "ROS/rosserial"]
	path = ROS/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "ROS/clearpath-vectornav"]
	path = ROS/clearpath-vectornav
	url = https://github.com/clearpathrobotics/vectornav.git
[submodule "ROS/ros"]
	path = ROS/ros
	url = https://github.com/ros/ros.git
[submodule "ROS/rosdistro"]
	path = ROS/rosdistro
	url = https://github.com/ros/rosdistro.git
[submodule "nasa-osal"]
	path = nasa-osal
	url = https://github.com/nasa/osal.git
[submodule "angstrom-linux-setup"]
	path = angstrom-linux-setup
	url = https://github.com/Angstrom-distribution/setup-scripts.git
[submodule "busybox"]
	path = busybox
	url = git://busybox.net/busybox.git
